body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: #111;
      color: white;
    }
    header {
      background: #1a1a1a;
      display: flex;
      justify-content: space-between;
      padding: 1rem 10rem;
      align-items: center;
    }
    header nav a {
      margin: 0 1rem;
      color: white;
      text-decoration: none;
    }
    .home-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 4rem 2rem;
    }
    .home-text {
      flex: 1;
      min-width: 300px;
      text-align: center;
    }
    .home-text h1 span {
      background: linear-gradient(to right, orange, purple);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 150%; 
    }
    .home-text .buttons a {
      margin: 0 1rem 1rem 0;
      padding: 0.75rem 2rem;
      border-radius: 8px;
      text-decoration: none;
      display: inline-block;
    }
    .home-text .github {
      background-color: white;
      color: black;
    }
    .home-text .linkedin {
      border: 2px solid white;
      color: white;
    }
    .home-photo {
      flex: 1;
      min-width: 200px;
      text-align: center;
      padding: 1rem;
    }
    .home-photo img {
      width: 350px;
      height: auto;
      border-radius: 50%;
    }
     .sections {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 4rem 5rem;
    }
    .section {
      width: 40%;
      min-width: 300px;
      margin: 1rem;
    }
    .section h2 {
      margin-top: 0rem;
    }
    #corgi {
      margin-top: 9rem;
    }
    .section img {
      width: 85%;
      height: auto;
      background: #ccc;
      padding: 1rem;
      color: black;
      font-weight: bold;
      text-align: center;
    }
    #skills {
      background: #111;
      padding: 3rem 2rem;
      text-align: center;
    }
    #skills h2 {
      color: #66cc66;
      margin-bottom: 2rem;
    }
    .skills-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5rem;
    }
    .skills-list div {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      font-size: 1.2rem;
    }
    .skills-list img {
      width: 32px;
      height: 32px;
    }
    html {
      scroll-behavior: smooth;
    }
    footer {
      background: #1a1a1a;
      color: #aaa;
      padding: 2rem;
      text-align: center;
    }
    .contact-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      margin: 1rem 0;
    }
    .contact-icons div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .large {
      font-size: larger;
    }
    a {
      text-decoration: none;
      color: white;
    }